.modalBackground {
  width: 100vw;
  height: 100vh;
  background-color: rgba(200, 200, 200, 0.5);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  z-index: 10000;
}

.modalContainer {
  width: 500px;
  max-height: 90vh;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
  overflow: auto;

  .title {
    display: inline-block;
    text-align: center;
    margin-top: 10px;
    font-size: 1rem;
    margin-bottom: 20px;
  }

  .body {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    text-align: center;
    margin-bottom: 20px;
  }

  .footer {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    button {
      width: 150px;
      height: 45px;
      margin: 10px;
      border: none;
      background-color: cornflowerblue;
      color: white;
      border-radius: 8px;
      font-size: 20px;
      cursor: pointer;
    }
  }
}

.titleCloseBtn {
  display: flex;
  justify-content: flex-end;

  button {
    background-color: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
  }
}

#cancelBtn {
  background-color: crimson;
}
