.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;

  .imageContainer {
    width: 50px;
    height: 50px;
    position: relative;
  }

  img {
    transition: opacity 0.3s ease;
  }
  img:hover {
    opacity: 0.5;
  }

  &--default {
    padding: 0.5rem;
    min-width: 50px;
    min-height: 50px;
  }

  &--short {
    width: 100%;
    height: 100px;
  }

  &--circle {
    border-radius: 50%;
    width: 200px;
    height: 200px;
  }
}
